include recently-viewed-data

-
    var imgWidth = 275
    var imgHeight = 320

//- Недавно просмотренные
section.recently-viewed
    .container
        h2.recently-viewed__title.section__title Вы недавно смотрели
        include ../books-layout/books-layout
