-
    var recentlyBooks = [
        {
            name: "Истребитель",
            author: "Быков Д.",
            img: "book-istrebitel-big.jpg",
            description: "Роман о советских летчиках, \"соколах Сталина\"",
            rating: "3.9",
            pages: "576",
            link: "#"
        },
        {
            name: "Чувство стыда",
            author: "Санд И.",
            img: "book-feelings-of-shame.jpg",
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими",
            rating: "4.1",
            pages: "170",
            link: "#"
        },
        {
            name: "Вторая жизнь Уве",
            author: "Несбё Ю.",
            img: "book-second-life-big.jpg",
            description: "Откуда берутся зануды и склочники? Внутри зреет обида на мир",
            rating: "4.4",
            pages: "384",
            link: "#"
        },
        {
            name: "Transhumanism inc.",
            author: "Пелевин В.",
            img: "book-transhumanism.jpg",
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            rating: "3.9",
            pages: "608",
            link: "#"
        }
    ]
