- 
    var heroSlides = [
        {
            title: "Бестселлер для самых умных и продвинутых",
            text: "Книга научит вас писать, читать, говорить по-новому. Авторы на конкретных примерах показывают, что такое хорошо и что такое плохо в информационных, рекламных, журналистских и публицистических текстах.",
            link: "#",
            img_1x: "hero-slider-1@1x.png",
            img_2x: "hero-slider-1@2x.png",
            name: "Пиши, сокращай"
        }
    ]
