extends layout/layout

block content
    include modules/header
    //- Контент
    .content 
        main.book-page
            include modules/book/breadcrumbs
            include modules/book/book
            include modules/book/reviews
            include modules/book/recently-viewed
    include modules/footer
