extends layout/layout

//- Контент страницы книги
block content
    .content 
        main.book-page
            include modules/book/breadcrumbs
            include modules/book/book
            include modules/book/book-reviews
            include modules/book/recently-viewed
