-
    var critique = [
        {
            id: "1",
            name: "Алексей Иванов",
            count: "23"
            img: "review-4.jpg",
            description: "Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо провести время за чтением.",
        },
        {
            id: "2",
            name: "Анна Кириллова",
            count: "50"
            img: "review-5.jpg",
            description: "Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня за 3 или 4, уже не помню, так вчиталась!"
        },
        {
            id: "3",
            name: "Мария Нагаева",
            count: "8"
            img: "review-6.jpg",
            description: "Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование нового Двора, меня восхитила."
        }
    ]
