-
    var reviews = [
        {
            id: "1",
            name: "Кирилл Агапьев",
            count: "35",
            gender: "1",
            img: "review-1.jpg",
            text: "Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!"
        },
        {
            id: "2",
            name: "Елизавета Марьина",
            count: "76",
            gender: "2",
            img: "review-2.jpg",
            text: "Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек"
        },
        {
            id: "3",
            name: "Полина Аленичева",
            count: "48",
            gender: "2",
            img: "review-3.jpg",
            text: "Удобный каталог, полезные отзывы на книги, так же есть видеообзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену."
        }
    ]
