-
    var books = [
        {
            name: "Жизнь в удовольствие",
            author: "Палиенко А.",
            img: "a-life-of-pleasure.jpg",
            description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
            rating: "3.5",
            pages: "208",
            link: "#"
        },
        {
            name: "Королевство",
            author: "Несбё Ю.",
            img: "book-kingdoms.jpg",
            description: "В норвежском городке, затерянном в горах, течет сонная, мирная жизнь",
            rating: "4.8",
            pages: "576",
            link: "#"
        },
        {
            name: "Transhumanism inc.",
            author: "Пелевин В.",
            img: "book-transhumanism.jpg",
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            rating: "3.9",
            pages: "608",
            link: "#"
        },
        {
            name: "Чувство стыда",
            author: "Санд И.",
            img: "book-feelings-of-shame.jpg",
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими",
            rating: "4.1",
            pages: "170",
            link: "#"
        }
    ]