include new-books-data

-
    var imgWidth = 275
    var imgHeight = 320

//- Новые книги
section.new-books
    .container
        h2.new-books__title.section__title Новинки
        include ../books-layout/books-layout
