-
    var catalogBooks = [
        {
            name: "Железный король",
            author: "Кагава Д.",
            img: "book-iron-king.jpg",
            description: "Меган удалось победить Железного короля, и теперь она во Дворце",
            rating: "3.8",
            pages: "416",
            link: "iron-king.html"
        },
        {
            name: "Лисья нора",
            author: "Сакавич Н.",
            img: "book-fox-hole.jpg",
            description: "Команда Лисов—игроки экси, которые пытаются выиграть чемпионат мира",
            rating: "4.2",
            pages: "336",
            link: "#"
        },
        {
            name: "Просто Маса",
            author: "Акунин Б.",
            img: "book-just-masa.jpg",
            description: "Масу ожидают невероятные потрясения и невероятные приключения",
            rating: "4.5",
            pages: "448",
            link: "#"
        },
        {
            name: "Зеленый свет",
            author: "Макконахи М.",
            img: "book-green-light.jpg",
            description: "Как быть честным. Как избежать стресса. Как радоваться жизни",
            rating: "3.9",
            pages: "320",
            link: "#"
        },
        {
            name: "Солнце полуночи",
            author: "Майер С.",
            img: "book-sun-midnight.jpg",
            description: "История любви и приключений от лица Эдварда",
            rating: "3.5",
            pages: "784",
            link: "#"
        },
        {
            name: "Вторая жизнь Уве",
            author: "Бакман Ф.",
            img: "book-second-life.jpg",
            description: "Откуда берутся зануды и склочники? Внутри зреет обида на мир",
            rating: "4.4",
            pages: "384",
            link: "#"
        },
        {
            name: "Истребитель",
            author: "Быков Д.",
            img: "book-istrebitel.jpg",
            description: "Роман о советских летчиках, 'соколах Сталина'",
            rating: "3.9",
            pages: "576",
            link: "#"
        },
        {
            name: "Лавр",
            author: "Водолазкин Е.",
            img: "book-lavr.jpg",
            description: "Возможно ли любовью и жертвой спасти душу человека?",
            rating: "4.1",
            pages: "448",
            link: "#"
        }
    ]