include best-books-data

-
    var imgWidth = 275
    var imgHeight = 320

//- Лучшие книги
section.best-books
    .container 
        h2.best-books__title.section__title Лучшее
        include ../books-layout/books-layout
