-
    var books = [
        {
            name: "Тревожные люди",
            author: "Бакман Ф.",
            img: "books-anxious-people.jpg",
            description: "Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа",
            rating: "5.0",
            pages: "416",
            link: "#"
        },
        {
            name: "Sapiens",
            author: "Харари Ю.",
            img: "book-sapiens.jpg",
            description: "Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?",
            rating: "4.9",
            pages: "520",
            link: "#"
        },
        {
            name: "Институт",
            author: "Кинг С.",
            img: "book-institute.jpg",
            description: "Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института",
            rating: "4.8",
            pages: "608",
            link: "#"
        },
        {
            name: "Нормальные люди",
            author: "Руни С.",
            img: "book-normal-peoples.jpg",
            description: "О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему",
            rating: "4.7",
            pages: "288",
            link: "#"
        }
    ]